{% extends 'portal/base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow border-danger">
      <div class="card-header bg-danger text-white">
        <h5 class="m-0"><i class="fas fa-key mr-2"></i>First-Time Login: Set Permanent Password</h5>
      </div>
      <div class="card-body">
        <p class="text-muted">You are currently using the default password (<strong>123456</strong>). For security reasons, you must set a permanent password before continuing.</p>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-danger btn-block mt-3">Update Password & Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}